@{
    ViewData["Title"] = "Home Page";
}
@model TestModel
<p>@ViewBag.message</p>
<form method="post">
    <div class="input-group">
        <div class="input-group-prepend"> 
            <img id="img-captcha" src="~/get-captcha-image" />
        </div>
        <input type="text" class="form-control" placeholder="Captcha Code" asp-for="CaptchaCode" maxlength="4" />
        <span asp-validation-for="CaptchaCode" class="text-danger"></span>
        <input type="submit" value="Go" />
    </div>
</form>